#main {
    width: 100vw;
    height: auto;
    background-image: url("./images/top-view-butterflies-with-copy-space.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.my_form_design {
    margin-top: 10vh;
    margin-left: 25vw;
    margin-bottom: none;
    background: rgba(51, 170, 51, .2);
    border-radius: 2vw; 
    padding: 2vw;   
}

@media only screen and (max-width: 800px) {
    .my_form_design {
        font-weight: 800;

}
}